<!-- <div class="container">
  <div class="row">
    <div class="col-col-xs-12">
      <form (ngSubmit)="onSubmit(f)" #f>
        <div id="user-data" >
          <div class="form-group">
            <label for="username">用户名 </label>
            <input type="text" id="username" class="form-control" ngModel name="username" required>
          </div>
        </div>
        <button class="btn btn-primary">提交</button>
      </form>
    </div>
  </div>
</div> -->



<div class="container">
  <div class="row">
    <div class="col-col-xs-12">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
          <div class="form-group">
            <label for="username">用户名 </label>
            <input type="text" id="username" class="form-control" ngModel name="username" required>
          </div>
          <button class="btn btn-default" type="button" (click)="suggestUserName()">建议用户名</button>
          <div class="form-group">
            <label for="email">邮箱</label>
            <input type="email" id="email" class="form-control" ngModel name="email" required email #email="ngModel">
            <span class="help-block" *ngIf="!email.valid && email.touched">请输入邮箱地址</span>
          </div>
        </div>
        <p *ngIf="!userData.valid && userData.touched">没有用户数据</p>
        <div class="form-group">
          <label for="secer">选择选项</label>
          <select name="secret" id="secret" class="form-control" [ngModel]="defaultQuestion">
            <option value="万文峰">万文峰</option>
            <option value="龚岚">龚岚</option>
          </select>
        </div>
        <div class="form-group">
          <textarea name="questionAnswer" cols="30" rows="10" [ngModel]="answer" class="form-control"></textarea>
        </div>
        <p>你输入的备注: {{answer}}</p>
        <div class="radio" *ngFor="let gender of genders">
          <label ><input type="radio" name="gender" ngModel [value]="gender">{{gender}}</label>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!f.valid">提交</button>
      </form>
    </div>
  </div>
  <hr>
  <div class="for" *ngIf="submitted">
    <div class="col-xs-12">
      <h3>你的数据</h3>
      <p>用户名: {{user.name}}</p>
      <p>邮箱地址: {{user.email}}</p>
      <p>选择选项: {{user.secretQuestion}}</p>
      <p>备注: {{user.answer}}</p>
      <p> 性别:{{user.gender}}</p>
    </div>
  </div>
</div>


