<h4 *ngIf="!allowEdit">你不能编辑</h4>
<div *ngIf="allowEdit">
  <div class="form-group">
    <label for="name">服务名称</label>
    <input
      type="text"
      id="name"
      class="form-control"
      [(ngModel)]="serverName">
  </div>
  <div class="form-group">
    <label for="status">服务状态</label>
    <select
      id="status"
      class="form-control"
      [(ngModel)]="serverStatus">
      <option value="online">异常</option>
      <option value="offline">正常</option>
    </select>
  </div>
  <button
    class="btn btn-primary"
    (click)="onUpdateServer()">更新服务</button>
</div>

