<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <input type="text" [(ngModel)]="filterStatus">
      <br>
      <button class="btn btn-default" (click)="onAddServer()">添加服务</button>
      <br><br>
      <h3>状态: {{appStatus | async }}</h3>
      <hr>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let serve of servers | filter:filteredStatus:'status'" [ngClass]="getStatusClasses(serve)">
          <span class="badge">
            {{serve.status}}
          </span>
          <strong>{{serve.name | storten:15}}</strong>
          | {{serve.instanceType | uppercase}} |
          {{serve.started | date:"fullDate" | uppercase}}
        </li>
      </ul>
    </div>
  </div>
</div>
